 .resultsGrid {

   display: grid;
   grid-template-columns: 2fr 3fr;
   gap: 2rem;
   height: 100%;
   min-height: 0;

   @media screen {
     @media (max-width: 1200px) {
       grid-template-columns: 1fr;
       grid-template-rows: 200px 1fr;
     }
   }
 }

 

 .postListLayout {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   outline: 1px solid var(--border-color);
   border-radius: 0px;
   padding: 1rem 0.5rem 1rem 1rem;
   height: 100%;
   min-height: 0;

   /* @media screen {
     @media (max-width: 1200px) {
       max-height: 200px;
     }
   } */
 }