 .logo__container {
   display: flex;
   flex-direction: column;
   align-items: baseline;
   flex-wrap: wrap;
   border-top: 1px dashed var(--border-color-secondary);
   border-bottom: 1px dashed var(--border-color-secondary);
    gap: 0.5rem;
   align-items: center;
   padding: 1rem 0rem;
 }

 .logo__titulo {
   font-family: var(--font-text), monospace;
   text-box-edge: cap alphabetic;
   text-box-trim: trim-both;
   font-size: 1.5rem;
   font-weight: 800;
   line-height: 2rem;
   padding-right: 1rem;
   color: black
 }

 .logo__titulo a {
   text-decoration: none;
   color: var(--text-color);
 }

 .logo__descripcion {
   margin-top: 0.2rem;
   font-family: var(--font-text), monospace;
   font-weight: 400;
   line-height: 1.2rem;
   font-size: 1rem;
   text-align: center;
 }

 .logo__colorRosa {
   color: var(--rosa2);
 }

 .logo__colorCeleste {
   color: var(--celeste);
 }