  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
    padding: 0rem 0rem;
  }

  .navbar__logo {
 
    margin: 0rem;
    background-color: var(--background-color);
    width: 100%;
    color: var(--text-color);
  }

  .navbar__links {
    display: flex;
    flex-direction: row;
    justify-content: right;
     
   /*   padding-right: 0.5rem; */
     column-gap: 0.5rem;
    font-size: 0.8rem;
    font-family: "Roboto mono", monospace;
    width: 100%;
  }

  .navbar__links a {
    margin: 0;
    height: 1rem;
    padding-top: 0.1rem;
    text-decoration: none;
    color: var(--text-color);
  }

  /*   .navbar__links a:visited:hover {
    color: var(--celeste);
  }

  .navbar__links a:visited {

    color: var(--text-color);
  } */