:root {
  --global-max-width: 1800px;

  --celeste: #00a1d3;
  --violeta: #a92da3;
  --naranja: #fd4d2e;
  --verde: #769f52;
  --rosa: #ff68a8;
  --amarillo: #f8ca38;


  --amarillo2: #FEC763;
  --rosa2: #EA55B1;
  --rosa3: #c01980;
  --lila: #A992FA;
  --azul: #00207F;



  --linkNuevo: hsl(225, 80%, 45%);
  --linkVisitado: hsl(225, 100%, 35%);
  --linkUnderline: #00a2d39c;
  --linkUnderlineHover: #ff009dbd;

  --casi-blanco: hsl(0, 0%, 99%);
  --casi-blanco90: rgb(230, 230, 230);
  --casi-blanco85: hsl(0, 0%, 85%);
  --casi-blanco65: hsl(0, 0%, 65%);

  --casi-negro: hsl(0, 0%, 5%);
  --image-back-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='536' height='536' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23e0e0e0' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23d8d8d8'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

  --font-text: var(--font-jetbrains-mono);

  /* Light theme */

  --light-th-background-color: #ffffff;
  --light-th-text-color: #333333;
  --light-th-main-color: rgb(231, 129, 175);
  --light-th-main-color-50: rgba(255, 140, 215, 0.5);
  --light-th-main-color-25: rgba(255, 140, 215, 0.25);
  --light-th-secondary-color: rgba(88, 196, 255, 1);
  --light-th-search-selected: #cacaca;

  --light-th-code-text-background: rgb(255, 207, 253);

  --light-th-border-color: var(--light-th-main-color);
  --light-th-border-color-secondary: var(--light-th-secondary-color);
  --light-th-shadow-color: var(--light-th-main-color-10);
  --light-th-link-color: var(--light-th-main-color);
  --light-th-linkUnderline: var(--light-th-main-color-25);
  --light-th-linkUnderlineHover: var(--light-th-secondary-color);


  /* Light and low contrast theme */

  --lightlow-th-background-color: #f0f0f0;
  --lightlow-th-text-color: #555555;
  --lightlow-th-main-color: rgb(231, 129, 175);
  --lightlow-th-main-color-50: rgba(255, 140, 215, 0.5);
  --lightlow-th-main-color-25: rgba(255, 140, 215, 0.25);
  --lightlow-th-secondary-color: rgba(88, 196, 255, 0.75);
  --lightlow-th-search-selected: #d8d8d8;

  --lightlow-th-code-text-background: rgb(255, 220, 254);

  --lightlow-th-border-color: var(--lightlow-th-main-color);
  --lightlow-th-border-color-secondary: var(--lightlow-th-secondary-color);
  --lightlow-th-shadow-color: var(--lightlow-th-main-color-10);
  --lightlow-th-link-color: var(--lightlow-th-main-color);
  --lightlow-th-linkUnderline: var(--lightlow-th-main-color-25);
  --lightlow-th-linkUnderlineHover: var(--lightlow-th-secondary-color);

  /* Dark theme */


  --dark-th-background-color: rgb(19, 19, 36);
  --dark-th-background-color: rgb(5, 0, 40);
  --dark-th-text-color: #e0e0e0;
  --dark-th-main-color: rgb(231, 129, 175);
  --dark-th-main-color-50: rgba(255, 140, 215, 0.5);
  --dark-th-main-color-25: rgba(255, 140, 140, 0.25);
  --dark-th-secondary-color: rgb(0, 255, 210);
  --dark-th-search-selected: #2c2c2c;

  --dark-th-code-text-background: rgb(82, 0, 99);

  --dark-th-border-color: var(--dark-th-main-color);
  --dark-th-border-color-secondary: var(--dark-th-secondary-color);
  --dark-th-shadow-color: var(--dark-th-main-color-50);
  --dark-th-link-color: var(--dark-th-main-color);
  --dark-th-linkUnderline: var(--dark-th-main-color-25);
  --dark-th-linkUnderlineHover: var(--dark-th-secondary-color);

  /* Dark high contrast theme */

  --darkhigh-th-background-color: #000000;
  --darkhigh-th-text-color: #ffffff;
  --darkhigh-th-main-color: rgb(231, 129, 175);
  --darkhigh-th-main-color-50: rgba(255, 140, 215, 0.5);
  --darkhigh-th-main-color-25: rgba(255, 140, 215, 0.25);
  --darkhigh-th-secondary-color: rgb(0, 255, 210);
  --darkhigh-th-search-selected: #2c2c2c;

  --darkhigh-th-code-text-background: rgb(114, 0, 129);

  --darkhigh-th-border-color: var(--darkhigh-th-main-color);
  --darkhigh-th-border-color-secondary: var(--darkhigh-th-secondary-color);
  --darkhigh-th-shadow-color: var(--darkhigh-th-main-color-50);
  --darkhigh-th-link-color: var(--darkhigh-th-main-color);
  --darkhigh-th-linkUnderline: var(--darkhigh-th-main-color-25);
  --darkhigh-th-linkUnderlineHover: var(--dark-th-secondary-color);


}


/* default light th */
:root {

  --background-color: var(--light-th-background-color);
  --text-color: var(--light-th-text-color);

  --border-color: var(--light-th-border-color);
  --border-color-secondary: var(--light-th-border-color-secondary);
  --shadow-color: var(--light-th-shadow-color);
  --search-selected: var(--light-th-search-selected);

  --code-text-background: var(--light-th-code-text-background);

  --link-color: var(--light-th-link-color);
  --linkUnderline: var(--light-th-linkUnderline);
  --linkUnderlineHover: var(--light-th-linkUnderlineHover);
}

@media (prefers-color-scheme: light) {
  :root {

    --background-color: var(--light-th-background-color);
    --text-color: var(--light-th-text-color);

    --border-color: var(--light-th-border-color);
    --border-color-secondary: var(--light-th-border-color-secondary);
    --shadow-color: var(--light-th-shadow-color);
    --search-selected: var(--light-th-search-selected);

    --code-text-background: var(--light-th-code-text-background);

    --link-color: var(--light-th-link-color);
    --linkUnderline: var(--light-th-linkUnderline);
    --linkUnderlineHover: var(--light-th-linkUnderlineHover);
  }
}

@media (prefers-color-scheme: dark) {
  :root {

    --background-color: var(--dark-th-background-color);
    --text-color: var(--dark-th-text-color);

    --border-color: var(--dark-th-border-color);
    --border-color-secondary: var(--dark-th-secondary-color);
    --shadow-color: var(--dark-th-shadow-color);
    --search-selected: var(--dark-th-search-selected);

    --code-text-background: var(--dark-th-code-text-background);

    --link-color: var(--dark-th-link-color);
    --linkUnderline: var(--dark-th-linkUnderline);
    --linkUnderlineHover: var(--dark-th-linkUnderlineHover);

  }
}

/* Tema de Bajo Contraste: Se aplica si el usuario prefiere menos contraste */
@media (prefers-contrast: less) {
  :root {
    --background-color: var(--lightlow-th-background-color);
    --text-color: var(--lightlow-th-text-color);

    --border-color: var(--lightlow-th-border-color);
    --border-color-secondary: var(--lightlow-th-border-color-secondary);
    --shadow-color: var(--lightlow-th-shadow-color);
    --search-selected: var(--lightlow-th-search-selected);

    --code-text-background: var(--lightlow-th-code-text-background);

    --link-color: var(--lightlow-th-link-color);
    --linkUnderline: var(--lightlow-th-linkUnderline);
    --linkUnderlineHover: var(--lightlow-th-linkUnderlineHover);

  }
}

/* Tema de Alto Contraste: Se aplica si el usuario prefiere más contraste */
@media (prefers-contrast: more) {
  :root {
    --background-color: var(--darkhigh-th-background-color);
    --text-color: var(--darkhigh-th-text-color);

    --border-color: var(--darkhigh-th-border-color);
    --border-color-secondary: var(--darkhigh-th-border-color-secondary);
    --shadow-color: var(--darkhigh-th-shadow-color);
    --search-selected: var(--darkhigh-th-search-selected);

    --code-text-background: var(--darkhigh-th-code-text-background);

    --link-color: var(--darkhigh-th-link-color);
    --linkUnderline: var(--darkhigh-th-linkUnderline);
    --linkUnderlineHover: var(--darkhigh-th-linkUnderlineHover);

  }
}

/* Asegurar que funcionen tanto en html como en elementos con data-th */
html[data-theme="light"],
[data-theme="light"] {

  --background-color: var(--light-th-background-color);
  --text-color: var(--light-th-text-color);

  --border-color: var(--light-th-border-color);
  --shadow-color: var(--light-th-shadow-color);
  --border-color-secondary: var(--light-th-border-color-secondary);
  --search-selected: var(--light-th-search-selected);

  --code-text-background: var(--light-th-code-text-background);

  --link-color: var(--light-th-link-color);
  --linkUnderline: var(--light-th-linkUnderline);
  --linkUnderlineHover: var(--light-th-linkUnderlineHover);

}

html[data-theme="dark"],
[data-theme="dark"] {

  --background-color: var(--dark-th-background-color);
  --text-color: var(--dark-th-text-color);

  --border-color: var(--dark-th-border-color);
  --border-color-secondary: var(--dark-th-secondary-color);
  --shadow-color: var(--dark-th-shadow-color);
  --search-selected: var(--dark-th-search-selected);

  --code-text-background: var(--dark-th-code-text-background);

  --linkUnderline: var(--dark-th-linkUnderline);
  --linkUnderlineHover: var(--dark-th-linkUnderlineHover);
}

html[data-theme="low-contrast"],
[data-theme="low-contrast"] {
  --background-color: var(--lightlow-th-background-color);
  --text-color: var(--lightlow-th-text-color);

  --border-color: var(--lightlow-th-border-color);
  --border-color-secondary: var(--lightlow-th-border-color-secondary);
  --shadow-color: var(--lightlow-th-shadow-color);
  --search-selected: var(--lightlow-th-search-selected);

  --code-text-background: var(--lightlow-th-code-text-background);

  --link-color: var(--lightlow-th-link-color);
  --linkUnderline: var(--lightlow-th-linkUnderline);
  --linkUnderlineHover: var(--lightlow-th-linkUnderlineHover);
}

html[data-theme="high-contrast"],
[data-theme="high-contrast"] {
  --background-color: var(--darkhigh-th-background-color);
  --text-color: var(--darkhigh-th-text-color);

  --border-color: var(--darkhigh-th-border-color);
  --border-color-secondary: var(--darkhigh-th-border-color-secondary);
  --shadow-color: var(--darkhigh-th-shadow-color);
  --search-selected: var(--darkhigh-th-search-selected);

  --code-text-background: var(--darkhigh-th-code-text-background);

  --link-color: var(--darkhigh-th-link-color);
  --linkUnderline: var(--darkhigh-th-linkUnderline);
  --linkUnderlineHover: var(--darkhigh-th-linkUnderlineHover);
}


* {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  font-weight: 400;

  @media screen and (max-width: 550px) {
    font-size: 15px;

  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0rem;
  margin: 0rem;
}

html,
body {
  /*   background-image: var(--image-back-light);
 */

  color: var(--text-color);
  padding: 0;
  margin: 0;
  min-height: 100%;


}

html {
  background-color: var(--background-color);
  /* force scrollbars */
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--border-color) var(--background-color);
}

body {
  font-family: var(--font-text), monospace;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1rem;


}

@media (prefers-reduced-motion: reduce) {
  canvas {
    display: none;
  }

  /*   .background {
    background-color: var(--body-background);
    background-image: var(--image-back);

  } */
}

/* .background {
  background-color: transparent;
 
} */

button,
input {
  color: var(--text-color);
  background-color: var(--background-color);
  cursor: pointer;
  font-family: inherit;
}

code {
  background-color: var(--code-text-background);
  padding: 0.2rem 0.3rem;
  border-radius: 8px;
}

code,
pre {
  font-family: var(--font-text), monospace;
  font-size: 0.85rem;
  color: var(--text-color);
}

h2 {
  font-family: var(--font-text), serif;
  font-size: 1.6rem;
  line-height: 1.5rem;
}


.tag_list__summary {
  margin-right: 0.5rem;
  font-weight: 400;
  text-align: right;
  font-family: var(--font-text);
}

.tag_list {
  display: grid;
  font-family: var(--font-text);
  font-size: 0.9rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  border: 2px dashed rgb(180, 180, 180);
  margin: 0.5rem;
  font-weight: 400;
  border-radius: 5px;
  padding: 1rem;
  column-gap: 1rem;
  background-color: var(--background-color);
}

.tag_list__item {
  padding: 0.2rem 0rem;

}

.tag_list__count {
  font-size: 0.9rem;
  color: var(--text-color);
}

.tag_search {
  margin: 1rem 0.5rem 0rem 0.5rem;
  display: flex;
  justify-content: flex-end;

}

.tag_search input {
  font-family: var(--font-text);
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
  border: 1px solid gray;
  background-color: var(--background-color);
}

.tag_search button {
  font-family: var(--font-text);
  margin-left: 0.5rem;
  background-color: var(--background-color);
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.1rem 0.5rem;
}

.tag_search button:hover {
  cursor: pomontserrat;
  outline: 1px solid black;
}

.tag_search option {
  background-color: var(--background-color);
}

.layout__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.layout__container {
  max-width: var(--global-max-width);
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  min-height: 100vh;
  display: grid;
  /* max-width: 800px; */
  padding: 1rem 2rem;
  width: 100%;
  grid-template-columns: 100%;
}

a:visited {
  color: var(--text-color);
  text-decoration-color: var(--linkUnderline);
}

a {
  color: var(--text-color);
  text-decoration-color: var(--linkUnderline);
}

a:hover {
  text-decoration-color: var(--linkUnderlineHover);
}

.layout__main-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-column: 1;
  }
}


.layout__tags {
  grid-column: 1 / span 2;

  @media screen and (max-width: 768px) {
    grid-column: 1;
  }
}


.layout__section {
  padding: 1rem 1rem;
  max-width: var(--global-max-width);
  background-color: var(--background-color);
  /*   box-shadow: 0px 0px 11px 3px var(--shadow-color);
 */
  border: 2px solid var(--border-color);
  border-radius: 8px;
  color: inherit;
  width: 100%;

  .scrollable {
    max-height: 450px;
    overflow: auto;
    width: 100%;
  }

}


footer {
  font-family: var(--font-text), monospace;
  font-size: 0.7rem;
  border: 1px dashed var(--secondary-color);
  display: grid;
  justify-content: center;
  background-color: var(--background-color);
  margin-bottom: 0.5rem;
  color: inherit;
  margin: 0.5rem;
}



.volver {
  display: grid;
  justify-content: right;
  margin: 0rem 0.5rem;
}

.post__container {
  font-family: var(--font-text), monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  overflow-wrap: anywhere;
  max-width: 1100px;
  width: 100%;
  /* padding: 1rem 2rem 1.5rem 2rem; */

  @media screen {
    @media (max-width: 1200px) {
      border: none;
    }

  }
}

.post__container li {
  margin-bottom: 0.5rem;
}

.post__container h1 {
  font-size: 2rem;
}

.post__container h2 {
  font-size: 1.6rem;
  margin-top: 2.2rem;
  margin-bottom: 0.5rem;
  line-height: 2.2rem;

}

.post__container h3 {
  font-size: 1.4rem;
  margin-top: 2.2rem;
  margin-bottom: 0rem;
  line-height: 1rem;
}

.post__container ul {
  margin-top: 0px;
}

.post__container p {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.post__container img {
  max-width: 100%;
}

.post__titulo {
  font-family: var(--font-open), monospace;
  font-size: 2rem;
  font-weight: 800;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  line-height: 2.2rem;
}

.post__tags {
  font-family: var(--font-text), monospace;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1rem;
  border-top: 1px dashed rgba(211, 211, 211, 0.5);
  border-bottom: 1px dashed rgba(211, 211, 211, 0.5);
  padding: 0.2rem 0rem;
  display: flex;
  justify-content: right;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}

.post__tags a,
.tag_list a {
  color: var(--link-color);
}

/* add a coma after each tag except the last one */
.post__tags span:not(:last-child)::after {
  content: ", ";
}

.post__fecha {
  display: flex;
  justify-content: right;
  font-size: 0.9rem;

}

.apuntes__titulo {
  font-family: var(--font-open), sans-serif;
}

.apuntes__item {
  font-family: var(--font-text), sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  line-height: 1.3rem;
  padding-right: 0.5rem;
}

.apuntes__item small {
  font-size: 0.8rem;

}



/***media queries***/
@media only screen and (max-width: 550px) {

  html,
  body {
    font-size: 15px;
  }
}



/** el código que está a continuación es para el resaltado de sintaxis tomado de rehype prism si no me equivoco */

pre {
  max-width: 90vw;
  /* lo agregué yo para que no desborde en pantallas mobile*/
}

[class^="language"] {
  border-radius: 5px;
  /*este lo sumé yo para ponerle borde redondeado al bloque de código*/
}

.code-highlight {
  float: left;
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left: 4px solid rgba(0, 0, 0, 0);
  /* Set placeholder for highlight accent border color to transparent */


}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2);
  /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2);
  /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(85, 87, 88, 0.5);
  /* Set highlight bg color */
  border-left: 4px solid rgb(246, 187, 59);
  /* Set highlight accent border color */
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175);
  /* Line number color */
  content: attr(line);
}